/* body {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 500;
    font-style: normal;
    background-color: #fca430;
    padding: 130;
    background-image: url("../img/gambar-fox.png");
    background-position: top left;
    background-repeat: no-repeat;
} */

.container {
    font-family: "Gloria Hallelujah", cursive;
    text-align: center;
    padding: 20px;
}

.box-result {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 1px;
    background-size: auto;
    background-color: #df5313;
}

.score {
    font-weight: bold;
}

.button-game-result-playAgain {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button-game-result-Submit {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}